    body{
    font-family: 'Cabin', sans-serif;
    }

    body{
        background-image:url(https://github.com/Emmanuel-RH/Emmanuel-RH.github.io/blob/main/herramientas/herramientas/Background.jpg?raw=true);
        size: 100%;
    }

    fieldset {
    border-radius: 20px;
    margin-bottom: 20px
    }

    legend {
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
    font-weight: 700;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.137)
    }

    #mifoto {
    margin: 10px;
    border-radius: 70px;
    }
